<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <style>

        svg.login_icon {
            margin-top: 1%;
            float: left;
            width: 10%;
            height: 70%;
            padding-top: 1%;
            margin-right: 6%;
        }

    </style>
    <title>Title</title>


    <svg class="register_phone_svg" viewBox="0 0 20 20">
        <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8"></path>
    </svg>
</head>
<body>

</body>
</html>